MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/f1gpt?retryWrites=true&w=majority
MONGODB_DB_NAME=f1gpt
MONGODB_COLLECTION=f1_embeddings
EMBEDDING_MODEL=Xenova/all-MiniLM-L6-v2
GEMINI_API_KEY=
